@import url('colors.css');

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    display: flex;
    flex-direction: column;
    background-color: var(--game-container-background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: var(--text-color);
    margin-bottom: 10px;
}

#board {
    margin: 0 auto;
    display: grid;
    height: 50vh;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(15, auto);
    gap: 1px;
    background-color: var(--board-background-color);
    padding: 10px;
    border: 2px solid var(--board-border-color);
}

#board div {
    user-select: none;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s;
}

#board div:hover {
    background-color: var(--hover-background-color);
}

#connection-status {
    margin: 10px 0;
    font-weight: bold;
    color: var(--connection-status-color);
}

.connected {
    color: var(--connected-color);
}

.disconnected {
    color: var(--disconnected-color);
}

#board div {
    background-color: var(--cell-background-color);
    border: 1px solid var(--cell-border-color);
    cursor: pointer;
    position: relative;
}

.black::before,
.white::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.3vh;
    height: 2.3vh;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.black::before {
    background-color: var(--black-piece-color);
}

.white::before {
    background-color: var(--white-piece-color);
    border: 1px solid var(--white-piece-border-color);
}

.last-move::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5vh;
    height: 0.5vh;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#status {
    margin: 15px 0;
    font-size: 18px;
    color: var(--text-color);
}

#restart {
    width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

#restart:hover {
    background-color: var(--button-hover-background-color);
    transform: scale(0.95);
}

#restart:active {
    transform: scale(0.90);
}

@media (max-width: 500px) {
    #board {
        height: 80vw;
        gap: 0px;
        padding: 0px;
    }
    .game-container {
        padding: 5vw;   
    }
    .black::before,
    .white::before {
        width: 4.3vw;
        height: 4.3vw;
    }
    h1 {
        font-size: 8vw;
    }
}

.message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--message-background-color);
    color: var(--message-text-color);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1000;
}
.message.show {
    opacity: 1;
    transition: none;
}